
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            text-align: center;
            color: darkslateblue;
            font-size: 50px;
        }

        .add button {
            padding: 10px 20px;
            background-color: #28a745; /* Màu xanh lá */
            color: white; /* Chữ trắng */
            font-weight: bold;
            border: none; /* Không có viền */
            border-radius: 5px; /* Bo góc */
            cursor: pointer; /* Thay đổi con trỏ khi di chuột qua */
            transition: background-color 0.3s, transform 0.3s; /* Hiệu ứng chuyển động */
            font-size: 16px; /* Kích thước chữ */
        }

        .container {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .song-card {
            border: 2px solid #333;
            border-radius: 8px;
            padding: 15px;
            margin: 10px;
            width: 250px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            background-color: deepskyblue;
        }

        .song-card h3 {
            font-size: 18px;
            color: #333;
        }

        .action-links a {
            display: block;
            font-size: 20px;
            margin-top: 5px;
            color:darkred;
            font-style: oblique;
        }

        .action-links a:hover {
            text-decoration: none;
        }


         .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination a {
            margin: 0 5px;
            padding: 8px 12px;
            background-color: #007BFF;
            color: white;
            border-radius: 5px;
            text-decoration: none;
        }

        .pagination a:hover {
            background-color: #0056b3;
        }

